# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
###############################
# Core EditorConfig Options   #
###############################
root = true
# All files
[*]
indent_style = space
# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4
insert_final_newline = true
charset = utf-8-bom
###############################
# .NET Coding Conventions     #
###############################
[*.{cs,vb}]
# Organize usings
dotnet_sort_system_directives_first = true
# this. preferences
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_property = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_event = false:silent
# Language keywords vs BCL types preferences
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_predefined_type_for_member_access = true:silent
# Parentheses preferences
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:silent
# Modifier preferences
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent
dotnet_style_readonly_field = true:suggestion
# Expression-level preferences
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:silent
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
###############################
# Naming Conventions          #
###############################
# Style Definitions
dotnet_naming_style.pascal_case_style.capitalization             = pascal_case
# Use PascalCase for constant fields  
dotnet_naming_rule.constant_fields_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.constant_fields_should_be_pascal_case.symbols  = constant_fields
dotnet_naming_rule.constant_fields_should_be_pascal_case.style    = pascal_case_style
dotnet_naming_symbols.constant_fields.applicable_kinds            = field
dotnet_naming_symbols.constant_fields.applicable_accessibilities  = *
dotnet_naming_symbols.constant_fields.required_modifiers          = const
###############################
# C# Coding Conventions       #
###############################
[*.cs]
# var preferences
csharp_style_var_for_built_in_types = true:silent
csharp_style_var_when_type_is_apparent = true:silent
csharp_style_var_elsewhere = true:silent
# Expression-bodied members
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent
# Pattern matching preferences
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
# Null-checking preferences
csharp_style_throw_expression = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion
# Modifier preferences
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:suggestion
# Expression-level preferences
csharp_prefer_braces = true:silent
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_pattern_local_over_anonymous_function = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
###############################
# C# Formatting Rules         #
###############################
# New line preferences
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true
# Indentation preferences
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = flush_left
# Space preferences
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
# Wrapping preferences
csharp_preserve_single_line_statements = true
csharp_preserve_single_line_blocks = true
###############################
# VB Coding Conventions       #
###############################

# CA1805: Do not initialize unnecessarily
dotnet_diagnostic.CA1805.severity = none

[*.vb]
# Modifier preferences
visual_basic_preferred_modifier_order = Partial,Default,Private,Protected,Public,Friend,NotOverridable,Overridable,MustOverride,Overloads,Overrides,MustInherit,NotInheritable,Static,Shared,Shadows,ReadOnly,WriteOnly,Dim,Const,WithEvents,Widening,Narrowing,Custom,Async:suggestion

# Dotnet code analysis settings:
[*.{cs,vb}]
# Microsoft.Analyzers.ManagedCodeAnalysis
dotnet_diagnostic.CA1801.severity = none
dotnet_diagnostic.CA1804.severity = none
dotnet_diagnostic.CA1806.severity = none
dotnet_diagnostic.CA1821.severity = none
dotnet_diagnostic.CA1823.severity = none
dotnet_diagnostic.CA1824.severity = none
dotnet_diagnostic.CA2200.severity = none

# Microsoft.NetCore.Analyzers
dotnet_diagnostic.CA2000.severity = none        # Dispose objects before losing scope (Noisy - replaced with IDE0067, IDE0068, IDE0069)
dotnet_diagnostic.CA1820.severity = warning
dotnet_diagnostic.CA5360.severity = none        # https://github.com/dotnet/roslyn-analyzers/issues/2683

# Microsoft.CodeQuality.Analyzers
dotnet_diagnostic.CA1000.severity = none
dotnet_diagnostic.CA1001.severity = none
dotnet_diagnostic.CA1010.severity = none
dotnet_diagnostic.CA1016.severity = none
dotnet_diagnostic.CA1018.severity = none
dotnet_diagnostic.CA1028.severity = none
dotnet_diagnostic.CA1030.severity = none
dotnet_diagnostic.CA1032.severity = none
dotnet_diagnostic.CA1033.severity = none        # Interface methods should be callable by child types
dotnet_diagnostic.CA1034.severity = none
dotnet_diagnostic.CA1036.severity = error
dotnet_diagnostic.CA1040.severity = none
dotnet_diagnostic.CA1041.severity = none
dotnet_diagnostic.CA1043.severity = none
dotnet_diagnostic.CA1051.severity = none
dotnet_diagnostic.CA1052.severity = none
dotnet_diagnostic.CA1054.severity = none
dotnet_diagnostic.CA1055.severity = none
dotnet_diagnostic.CA1056.severity = none
dotnet_diagnostic.CA1060.severity = none        # Move P/Invokes to NativeMethods class
dotnet_diagnostic.CA1062.severity = none
dotnet_diagnostic.CA1063.severity = warning
dotnet_diagnostic.CA1064.severity = none
dotnet_diagnostic.CA1065.severity = none
dotnet_diagnostic.CA1066.severity = none
dotnet_diagnostic.CA1067.severity = warning
dotnet_diagnostic.CA1068.severity = warning
dotnet_diagnostic.CA1031.severity = none        # Do not catch general exception types
dotnet_diagnostic.CA1303.severity = none
dotnet_diagnostic.CA1304.severity = none
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1710.severity = none
dotnet_diagnostic.CA1714.severity = none
dotnet_diagnostic.CA1715.severity = none
dotnet_diagnostic.CA1716.severity = none
dotnet_diagnostic.CA1717.severity = none
dotnet_diagnostic.CA1720.severity = none
dotnet_diagnostic.CA1721.severity = none
dotnet_diagnostic.CA1724.severity = none
dotnet_diagnostic.CA1815.severity = none
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA2211.severity = none
dotnet_diagnostic.CA2213.severity = none        # https://github.com/dotnet/roslyn-analyzers/issues/1796
dotnet_diagnostic.CA2218.severity = none
dotnet_diagnostic.CA2222.severity = none
dotnet_diagnostic.CA2224.severity = none
dotnet_diagnostic.CA2225.severity = none
dotnet_diagnostic.CA2227.severity = none
dotnet_diagnostic.CA2231.severity = none
dotnet_diagnostic.CA2234.severity = none

# Microsoft.NetFramework.Analyzers
dotnet_diagnostic.CA2153.severity = error       # Do not catch CorruptedStateExceptions
dotnet_diagnostic.CA2235.severity = error
dotnet_diagnostic.CA3075.severity = error

# Microsoft.CodeAnalysis.Analyzers
# These diagnostics apply to the source code of analyzers themselves.
# We do not have any analyzers in this repository, so disable these.
dotnet_diagnostic.RS1001.severity = none
dotnet_diagnostic.RS1002.severity = none
dotnet_diagnostic.RS1003.severity = none
dotnet_diagnostic.RS1004.severity = none
dotnet_diagnostic.RS1005.severity = none
dotnet_diagnostic.RS1006.severity = none
dotnet_diagnostic.RS1008.severity = none
dotnet_diagnostic.RS1009.severity = none
dotnet_diagnostic.RS1010.severity = none
dotnet_diagnostic.RS1011.severity = none
dotnet_diagnostic.RS1012.severity = none
dotnet_diagnostic.RS1013.severity = none
dotnet_diagnostic.RS1014.severity = warning     # DoNotIgnoreReturnValueOnImmutableObjectMethodInvocation
dotnet_diagnostic.RS1015.severity = none
dotnet_diagnostic.RS1016.severity = none
dotnet_diagnostic.RS1017.severity = none
dotnet_diagnostic.RS1018.severity = none
dotnet_diagnostic.RS1019.severity = none
dotnet_diagnostic.RS1020.severity = none
dotnet_diagnostic.RS1021.severity = none
dotnet_diagnostic.RS1022.severity = none
dotnet_diagnostic.RS1023.severity = none

# Microsoft.Composition.Analyzers
dotnet_diagnostic.RS0006.severity = error
dotnet_diagnostic.RS0023.severity = error

# Roslyn.Core
dotnet_diagnostic.AD0001.severity = error

# Roslyn.Diagnostic.Analyzers
dotnet_diagnostic.RS0001.severity = warning
dotnet_diagnostic.RS0002.severity = warning
dotnet_diagnostic.RS0005.severity = warning
dotnet_diagnostic.RS0016.severity = error
dotnet_diagnostic.RS0017.severity = error
dotnet_diagnostic.RS0022.severity = error
dotnet_diagnostic.RS0024.severity = error
dotnet_diagnostic.RS0025.severity = error
dotnet_diagnostic.RS0026.severity = error
dotnet_diagnostic.RS0027.severity = error
dotnet_diagnostic.RS0030.severity = error
dotnet_diagnostic.RS0031.severity = error
dotnet_diagnostic.RS0033.severity = none        # Importing constructor should be [Obsolete]
dotnet_diagnostic.RS0034.severity = none        # Style rule that enforces public MEF constructor marked with [ImportingConstructor]

# System.Collections.Immutable.Analyzers
dotnet_diagnostic.RS0012.severity = warning

# System.Runtime.Analyzers
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CA1307.severity = none
dotnet_diagnostic.CA1308.severity = none
dotnet_diagnostic.CA1810.severity = none
dotnet_diagnostic.CA1816.severity = none
dotnet_diagnostic.CA1825.severity = warning
dotnet_diagnostic.CA2002.severity = none
dotnet_diagnostic.CA2207.severity = none
dotnet_diagnostic.CA2208.severity = none
dotnet_diagnostic.CA2216.severity = none
dotnet_diagnostic.CA2219.severity = none
dotnet_diagnostic.CA2241.severity = none
dotnet_diagnostic.CA2242.severity = none
dotnet_diagnostic.RS0014.severity = warning

# System.Runtime.InteropServices.Analyzers
dotnet_diagnostic.CA1401.severity = none
dotnet_diagnostic.CA2101.severity = none
dotnet_diagnostic.RS0015.severity = warning

# System.Threading.Tasks.Analyzers
dotnet_diagnostic.RS0018.severity = warning

# XmlDocumentationComments.Analyzers
dotnet_diagnostic.RS0010.severity = warning

# Microsoft.CodeAnalysis.CSharp.Features
                                                # Name:                                         Before:                                             After:
dotnet_diagnostic.IDE0001.severity = error      # Simplify names                                System.Version version;                             Version version;
dotnet_diagnostic.IDE0002.severity = error      # Simplify (member access)                      System.Version.Equals("1", "2");                    Version.Equals("1", "2");
dotnet_diagnostic.IDE0005.severity = error      # Using directive is unnecessary                using System.Text;
dotnet_diagnostic.IDE0030.severity = error      # Use coalesce expression (nullable)            int? y = x.HasValue ? x.Value : 0                   int? y = x ?? 0;
dotnet_diagnostic.IDE0030WithoutSuggestion.severity = error
dotnet_diagnostic.IDE1006.severity = error      # Naming styles                                 Task Open()                                         Task OpenAsync()
dotnet_diagnostic.IDE1006WithoutSuggestion.severity = suggestion

# Microsoft.VisualStudio.Threading.Analyzers
dotnet_diagnostic.VSTHRD200.severity = none     # Naming styles                                 Task Open()                                         Task OpenAsync()
dotnet_diagnostic.VSTHRD010.severity = none     # Visual Studio service should be used on main thread explicitly.
dotnet_diagnostic.VSTHRD103.severity = none     # Call async methods when in an async method.
dotnet_diagnostic.VSTHRD108.severity = none     # Thread affinity checks should be unconditional.
dotnet_diagnostic.VSTHRD003.severity = none     # Avoid awaiting or returning a Task representing work that was not started within your context as that can lead to deadlocks
dotnet_diagnostic.VSTHRD111.severity = none     # Use ConfigureAwait(true).

# Microsoft.VisualStudio.SDK.Analyzers
dotnet_diagnostic.VSSDK006.severity = none      # Check whether the result of GetService calls is null

dotnet_analyzer_diagnostic.category-Usage.severity = none